<template>
  <div>
    <!-- bread crumb -->
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/home' }">Homepage
      </el-breadcrumb-item>
      <el-breadcrumb-item>Statistics
      </el-breadcrumb-item>
      <el-breadcrumb-item>Report</el-breadcrumb-item>
    </el-breadcrumb>

    <!-- Card -->
    <el-card>
      <div id="main" style="width: 1000px;height:600px;"></div>
    </el-card>
  </div>
</template>

<script>
import echarts from 'echarts'
import _ from 'lodash'

export default {
  data () {
    return {
      options: {
        title: {
          text: 'Users source'
        },
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'cross',
            label: {
              backgroundColor: '#E9EEF3'
            }
          }
        },
        grid: {
          left: '3%',
          right: '4%',
          bottom: '3%',
          containLabel: true
        },
        xAxis: [
          {
            boundaryGap: false
          }
        ],
        yAxis: [
          {
            type: 'value'
          }
        ]
      }
    }
  },
  created () {

  },
  async mounted () {
    var myChart = echarts.init(document.getElementById('main'))

    const { data: res } = await this.$http.get('reports/type/1')

    if (res.meta.status !== 200) {
      return this.$http.error('Fail to get report data!')
    }

    const result = _.merge(res.data, this.options)

    myChart.setOption(result)
  },
  methods: {

  }
}
</script>

<style lang="less" scoped>
</style>

