html, 
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1366px;
}

.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 15px;
}

.el-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15)!important;
}

.el-table {
  margin-top: 20px;
  font-size: 15px;
}

.el-pagination {
  margin-top: 20px;
}

.el-steps {
  margin: 20px 0;
}

.el-step__title{
  font-size: 13px;
}

.el-cascader-panel {
  height: 500px;
}

.ql-editor {
  min-height: 500px;
}