<template>
  <div>
    <!-- bread crumb -->
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/home' }">Homepage
      </el-breadcrumb-item>
      <el-breadcrumb-item>Goods Management
      </el-breadcrumb-item>
      <el-breadcrumb-item>New Product</el-breadcrumb-item>
    </el-breadcrumb>

    <!-- Card -->
    <el-card>
      <!-- Alert -->
      <el-alert title="Add new product info." type="info" :closable="false"
        show-icon center>
      </el-alert>

      <!-- Steps -->
      <el-steps :space="200" :active="activeIndex - 0" finish-status="success"
        align-center>
        <el-step title="Basic"></el-step>
        <el-step title="Params"></el-step>
        <el-step title="Attributes"></el-step>
        <el-step title="Images"></el-step>
        <el-step title="Content"></el-step>
        <el-step title="Finish"></el-step>
      </el-steps>

      <!-- Tabs -->
      <el-form :model="addForm" :rules="addFormRules" ref="addFormRef"
        label-position="top" label-width="100px">
        <el-tabs v-model="activeIndex" :tab-position="'left'"
          :before-leave="beforeTabLeave" @tab-click="tabClicked">
          <el-tab-pane label="Basic" name="0">
            <el-form-item label="Product" prop="goods_name">
              <el-input v-model="addForm.goods_name"></el-input>
            </el-form-item>
            <el-form-item label="Price" prop="goods_price">
              <el-input v-model="addForm.goods_price" type="number"></el-input>
            </el-form-item>
            <el-form-item label="Weight" prop="goods_weight">
              <el-input v-model="addForm.goods_weight" type="number"></el-input>
            </el-form-item>
            <el-form-item label="Quantity" prop="goods_number">
              <el-input v-model="addForm.goods_number" type="number"></el-input>
            </el-form-item>
            <el-form-item label="Category" prop="goods_cat">
              <el-cascader v-model="addForm.goods_cat" :options="cateList"
                expandTrigger="hover" :props="cateProps" @change="handleChange">
              </el-cascader>
            </el-form-item>
          </el-tab-pane>
          <el-tab-pane label="Params" name="1">
            <el-form-item :label="item.attr_name" v-for="item in manyTableData"
              :key="item.attr_id">
              <el-checkbox-group v-model="item.attr_vals">
                <el-checkbox :label="cb" v-for="(cb ,i) in item.attr_vals"
                  :key="i" border></el-checkbox>
              </el-checkbox-group>
            </el-form-item>
          </el-tab-pane>
          <el-tab-pane label="Attributes" name="2">
            <el-form-item :label="item.attr_name" v-for="item in onlyTableData"
              :key="item.attr_id">
              <el-checkbox-group v-model="item.attr_vals">
                <el-checkbox :label="cb" v-for="(cb ,i) in item.attr_vals"
                  :key="i" border></el-checkbox>
              </el-checkbox-group>
            </el-form-item>
          </el-tab-pane>
          <el-tab-pane label="Images" name="3">
            <el-upload :action="uploadURL" :on-preview="handlePreview"
              :on-remove="handleRemove" list-type="picture" :headers="headerObj"
              :on-success="handlySuccess">
              <el-button type="primary" round>Upload</el-button>
            </el-upload>
          </el-tab-pane>
          <el-tab-pane label="Content" name="4">
            <quill-editor v-model="addForm.goods_introduce"></quill-editor>
            <el-button type="primary" round class="btnAdd" @click="add">Add
              Product
            </el-button>
          </el-tab-pane>
        </el-tabs>
      </el-form>
    </el-card>

    <!-- Picture preview -->
    <el-dialog title="Preview" :visible.sync="previewDialogVisible" width="50%">
      <!-- <span>Preview</span> -->
      <img :src="previewPath" alt="" class="previewImg">
    </el-dialog>
  </div>
</template>

<script>
import _ from 'lodash'

export default {
  data () {
    return {
      activeIndex: '0',
      addForm: {
        goods_name: '',
        goods_price: 1,
        goods_weight: 1,
        goods_number: 1,
        goods_cat: [],
        pics: [],
        goods_introduce: '',
        attrs: []
      },
      addFormRules: {
        goods_name: [
          { required: true, message: 'Please enter product name', trigger: 'blur' }
        ],
        goods_price: [
          { required: true, message: 'Please enter price', trigger: 'blur' }
        ],
        goods_weight: [
          { required: true, message: 'Please enter weight', trigger: 'blur' }
        ],
        goods_number: [
          { required: true, message: 'Please enter quantity', trigger: 'blur' }
        ],
        goods_cat: [
          { required: true, message: 'Please select category', trigger: 'blur' }
        ]
      },
      cateList: [],
      cateProps: {
        label: 'cat_name',
        value: 'cat_id',
        children: 'children'
      },
      manyTableData: [],
      onlyTableData: [],
      uploadURL: 'http://127.0.0.1:8888/api/private/v1/upload',
      headerObj: {
        Authorization: window.sessionStorage.getItem('token')
      },
      previewPath: '',
      previewDialogVisible: false
    }
  },
  created () {
    this.getCateList()
  },
  methods: {
    async getCateList () {
      const { data: res } = await this.$http.get('categories')
      if (res.meta.status !== 200) {
        return this.$message.error('Fail to get categories!')
      }
      this.cateList = res.data
      // console.log(this.cateList)
    },
    handleChange () {
      console.log(this.addForm.goods_cat)
    },
    beforeTabLeave (activeName, oldActiveName) {
      if (oldActiveName === '0' && this.addForm.goods_cat.length !== 3) {
        this.$message.error('Please select category!')
        return false
      }
    },
    async tabClicked () {
      if (this.activeIndex === '1') {
        const { data: res } = await this.$http.get(`categories/${this.cateId}/attributes`, { params: { sel: 'many' } })
        if (res.meta.status !== 200) {
          return this.$message.error('Fail to get params!')
        }
        res.data.forEach(item => {
          item.attr_vals = item.attr_vals.length === 0 ? [] : item.attr_vals.split(' ')
        })
        this.manyTableData = res.data
      } else if (this.activeIndex === '2') {
        const { data: res } = await this.$http.get(`categories/${this.cateId}/attributes`, { params: { sel: 'only' } })
        if (res.meta.status !== 200) {
          return this.$message.error('Fail to get attributes!')
        }
        res.data.forEach(item => {
          item.attr_vals = item.attr_vals.length === 0 ? [] : item.attr_vals.split(' ')
        })
        this.onlyTableData = res.data
      }
    },
    handlePreview (file) {
      this.previewPath = file.response.data.url
      console.log(this.previewPath)
      this.previewDialogVisible = true
    },
    handleRemove (file) {
      const filePath = file.response.data.tmp_path
      const i = this.addForm.pics.findIndex(x => x.pic === filePath)
      this.addForm.pics.splice(i, 1)
      // console.log(this.addForm.pics)
    },
    handlySuccess (response) {
      const picInfo = { pic: response.data.tmp_path }
      this.addForm.pics.push(picInfo)
      // console.log(this.addForm.pics)
    },
    add () {
      this.$refs.addFormRef.validate(async valid => {
        if (!valid) {
          return this.$message.error('Please cconfirm to finish all the form info!')
        }
        const form = _.cloneDeep(this.addForm)

        form.goods_cat = form.goods_cat.join(',')

        this.manyTableData.forEach(item => {
          const newInfo = {
            attr_id: item.attr_id,
            attr_value: item.attr_vals.join(' ')
          }
          this.addForm.attrs.push(newInfo)
        })

        this.onlyTableData.forEach(item => {
          const newInfo = {
            attr_id: item.attr_id,
            attr_value: item.attr_vals
          }
          this.addForm.attrs.push(newInfo)
        })

        form.attrs = this.addForm.attrs

        const { data: res } = await this.$http.post('goods', form)
        console.log(res)
        if (res.meta.status !== 201) {
          return this.$message.error('Fail to add new product!')
        }

        this.$message.success('Success to add new product!')
        this.$router.push('/goods')
      })
    }
  },
  computed: {
    cateId () {
      if (this.addForm.goods_cat.length === 3) {
        return this.addForm.goods_cat[2]
      }
      return null
    }
  }
}
</script>

<style lang="less" scoped>
.el-checkbox {
  margin: 0 10px 0 0 !important;
}
.previewImg {
  width: 100%;
}

.btnAdd {
  margin: 20px auto;
}

.el-cascader {
  width: 100%;
}
</style>
