<template>
  <div>
    <!-- bread crumb -->
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/home' }">Homepage
      </el-breadcrumb-item>
      <el-breadcrumb-item>Goods Management
      </el-breadcrumb-item>
      <el-breadcrumb-item>Categories</el-breadcrumb-item>
    </el-breadcrumb>

    <!-- Card -->
    <el-card>
      <!-- New category -->
      <el-row>
        <el-col>
          <el-button type="primary" round @click="showAddCateDialog">New
            Category</el-button>
        </el-col>
      </el-row>
      <!-- Categories List -->
      <tree-table class="treeTable" :data="cateList" :columns="columns"
        :selection-type="false" :expand-type="false" show-index index-text="No."
        border>
        <template slot="isok" slot-scope="scope">
          <i class="el-icon-success" v-if="scope.row.cat_deleted === false"
            style="color:lightgreen; font-size:20px;"></i>
          <i class="el-icon-error" v-else
            style="color:red; font-size:20px;"></i>
        </template>

        <template slot="order" slot-scope="scope">
          <el-tag size="mini" v-if="scope.row.cat_level === 0">level 1</el-tag>
          <el-tag size="mini" type="success"
            v-else-if="scope.row.cat_level === 1">level 2</el-tag>
          <el-tag size="mini" type="warning" v-else>level 3</el-tag>
        </template>

        <template slot="opt" slot-scope="scope">
          <el-button type="primary" icon="el-icon-edit" size="mini">Edit
          </el-button>
          <el-button type="danger" icon="el-icon-delete" size="mini">Delete
          </el-button>
        </template>
      </tree-table>

      <!-- Pagination -->
      <el-pagination @size-change="handleSizeChange"
        @current-change="handleCurrentChange" :current-page="queryInfo.pagenum"
        :page-sizes="[1, 2, 5, 10]" :page-size="queryInfo.pagesize"
        layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </el-card>

    <!-- Dialog for adding new category -->
    <el-dialog title="New category" :visible.sync="addCateDialogVisible"
      width="50%" @close="addCateDialogClosed">
      <el-form ref="addCateFormRef" :model="addCateForm" label-width="100px"
        :rules="addCateFormRules">
        <el-form-item label="Category" prop="cat_name">
          <el-input v-model="addCateForm.cat_name"></el-input>
        </el-form-item>
        <el-form-item label="Parent">
          <el-cascader expandTrigger='hover' v-model="selectedKeys"
            :options="parentCateList" :props="cascaderProps"
            @change="parentCateChanged" clearable>
          </el-cascader>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="addCateDialogVisible = false">Cancel</el-button>
        <el-button type="primary" @click="addCate">
          Confirm
        </el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
export default {
  data () {
    return {
      cateList: [],
      queryInfo: {
        type: 3,
        pagenum: 1,
        pagesize: 5
      },
      total: 0,
      columns: [{
        label: 'Categories',
        prop: 'cat_name'
      }, {
        label: 'isAvaliable',
        type: 'template',
        template: 'isok'
      }, {
        label: 'Order',
        type: 'template',
        template: 'order'
      }, {
        label: 'Operation',
        type: 'template',
        template: 'opt'
      }],
      addCateDialogVisible: false,
      addCateForm: {
        cat_name: '',
        cat_pid: 0,
        cat_level: 0
      },
      addCateFormRules: {
        cat_name: [
          { required: true, message: 'Please enter category name', trigger: 'blur' }
        ]
      },
      parentCateList: [],
      cascaderProps: {
        value: 'cat_id',
        label: 'cat_name',
        children: 'children'
      },
      selectedKeys: []
    }
  },
  created () {
    this.getCateList()
  },
  methods: {
    async getCateList () {
      const { data: res } = await this.$http.get('categories', { params: this.queryInfo })
      if (res.meta.status !== 200) {
        return this.$message.error('Fail to get categories!')
      }
      // console.log(res.data)
      this.cateList = res.data.result
      this.total = res.data.total
    },

    handleSizeChange (newSize) {
      this.queryInfo.pagesize = newSize
      this.getCateList()
    },

    handleCurrentChange (newPage) {
      this.queryInfo.pagenum = newPage
      this.getCateList()
    },
    showAddCateDialog () {
      this.getParentCateList()
      this.addCateDialogVisible = true
    },
    async getParentCateList () {
      const { data: res } = await this.$http.get('categories', { params: { type: 2 } })
      if (res.meta.status !== 200) {
        return this.$message.error('Fail to get parent category list!')
      }
      this.parentCateList = res.data
    },
    parentCateChanged () {
      if (this.selectedKeys.length > 0) {
        this.addCateForm.cat_pid = this.selectedKeys[this.selectedKeys.length - 1]
        this.addCateForm.cat_level = this.selectedKeys.length

      } else {
        this.addCateForm.cat_level = 0
        this.addCateForm.cat_pid = 0
      }
    },

    async addCate () {
      // console.log(this.addCateForm)
      const { data: res } = await this.$http.post('categories', this.addCateForm)
      // console.log(res)
      if (res.meta.status !== 201) {
        return this.$message.error('Fail to add category!')
      }
      this.getCateList()
      this.addCateDialogVisible = false
      this.$message.success('Succes to add catefory!')
    },
    addCateDialogClosed () {
      this.$refs.addCateFormRef.resetFields()
      this.selectedKeys = []
      this.addCateForm.cat_level = 0
      this.addCateForm.cat_pid = 0
    }
  }
}
</script>

<style lang="less" scoped>
.treeTable {
  margin-top: 20px;
}

.el-cascader {
  width: 100%;
}
</style>
