<template>
  <div>
    <!-- bread crumb -->
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/home' }">Homepage
      </el-breadcrumb-item>
      <el-breadcrumb-item>Goods Management
      </el-breadcrumb-item>
      <el-breadcrumb-item>Goods List</el-breadcrumb-item>
    </el-breadcrumb>

    <!-- Card -->
    <el-card>
      <el-row :gutter="20">
        <!-- Search -->
        <el-col :span="8">
          <el-input placeholder="Search here" v-model="queryInfo.query"
            clearable @clear="getGoodsList">
            <el-button slot="append" icon="el-icon-search"
              @click="getGoodsList"></el-button>
          </el-input>
        </el-col>

        <!-- Add new product -->
        <el-col :span="4">
          <el-button type="primary" @click="goAddPage">New Product</el-button>
        </el-col>
      </el-row>

      <!-- Goods list -->
      <el-table :data="goodsList" border stripe>
        <el-table-column type="index" label="No."></el-table-column>
        <el-table-column label="Product" prop="goods_name"></el-table-column>
        <el-table-column label="Price (¥ )" prop="goods_price" width="95px">
        </el-table-column>
        <el-table-column label="Weight" prop="goods_weight" width="95px">
        </el-table-column>
        <el-table-column label="Created Time" prop="add_time" width="160px">
          <template slot-scope="scope">
            {{scope.row.add_time | dateFormat}}
          </template>
        </el-table-column>
        <el-table-column label="Operation" width="130px">
          <template slot-scope="scope">
            <el-button type="primary" icon="el-icon-edit" size="mini">
            </el-button>
            <el-button type="danger" icon="el-icon-delete" size="mini"
              @click="removeById(scope.row.goods_id)">
            </el-button>
          </template>
        </el-table-column>
      </el-table>

      <!-- Pagination -->
      <el-pagination @size-change="handleSizeChange"
        @current-change="handleCurrentChange" :current-page="queryInfo.pagenum"
        :page-sizes="[5, 10, 20, 30]" :page-size="queryInfo.pagesize"
        layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </el-card>
  </div>
</template>

<script>
export default {
  data () {
    return {
      queryInfo: {
        query: '',
        pagenum: 1,
        pagesize: 10
      },
      goodsList: [],
      total: 0
    }
  },
  created () {
    this.getGoodsList()
  },
  methods: {
    async getGoodsList () {
      const { data: res } = await this.$http.get('goods', { params: this.queryInfo })
      if (res.meta.status !== 200) {
        return this.$message.error('Fail to get goods list!')
      }
      // console.log(res.data)
      this.goodsList = res.data.goods
      this.total = res.data.total
    },
    handleSizeChange (newSize) {
      this.queryInfo.pagesize = newSize
      this.getGoodsList()
    },
    handleCurrentChange (newPage) {
      this.queryInfo.pagenum = newPage
      this.getGoodsList()
    },
    async removeById (goodsid) {
      const confirmResult = await this.$confirm('Do you want to remove the product?', 'Remove Product', {
        confirmButtonText: 'Confirm',
        cancelButtonText: 'Cencel',
        type: 'warning'
      }).catch(err => err)
      if (confirmResult !== 'confirm') {
        return this.$message.info('Cancel to remove!')
      }
      const { data: res } = await this.$http.delete(`goods/${goodsid}`)
      if (res.meta.status !== 200) {
        return this.$message.error('Fail to remove the product!')
      }
      this.getGoodsList()
      this.$message.success('Success to remove the product!')
    },
    goAddPage () {
      this.$router.push('/goods/add')
    }
  }
}
</script>

<style lang="less" scoped>
</style>

