<template>
  <div>
    <!-- bread crumb -->
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/home' }">Homepage
      </el-breadcrumb-item>
      <el-breadcrumb-item>Goods Management
      </el-breadcrumb-item>
      <el-breadcrumb-item>Params List</el-breadcrumb-item>
    </el-breadcrumb>

    <!-- Card -->
    <el-card>
      <!-- Notice -->
      <el-alert
        title="Note: Only relevant parameters are allowed for the third pole classification."
        type="warning" :closable="false" show-icon>
      </el-alert>

      <!-- Choose category -->
      <el-row class="catopt">
        <el-col>
          <span>Category: </span>
          <el-cascader v-model="selectedCatKeys" :options="cateList"
            expandTrigger="hover" :props=" cateProps" @change="handleChange">
          </el-cascader>
        </el-col>
      </el-row>

      <!-- Tabs -->
      <el-tabs v-model="activeName" @tab-click="handleTabClick">
        <el-tab-pane label="Dynamic" name="many">
          <el-button type="primary" size="mini" :disabled="isBtnDisabled"
            @click="addDialogVisiable=true">New
            Property</el-button>
          <el-table :data="manyTableData" border stripe>
            <el-table-column type="expand">
              <template slot-scope="scope">
                <el-tag v-for="(item, i) in scope.row.attr_vals" :key="i"
                  closable @close="handleClose(i, scope.row)">{{item}}</el-tag>
                <el-input class="input-new-tag" v-if="scope.row.inputVisible"
                  v-model="scope.row.inputValue" ref="saveTagInput" size="small"
                  @keyup.enter.native="handleInputConfirm(scope.row)"
                  @blur="handleInputConfirm(scope.row)">
                </el-input>
                <el-button v-else class="button-new-tag" size="small"
                  @click="showInput(scope.row)">+ New Tag</el-button>
              </template>
            </el-table-column>
            <el-table-column type="index" label="No."></el-table-column>
            <el-table-column label="Property" prop="attr_name">
            </el-table-column>
            <el-table-column label="Operation">
              <template slot-scope="scope">
                <el-button type="primary" icon="el-icon-edit" size="mini"
                  @click="showEditDialog(scope.row.attr_id)">Edit
                </el-button>
                <el-button type="danger" icon="el-icon-delete" size="mini"
                  @click="removeParams(scope.row.attr_id)">
                  Remove
                </el-button>
              </template>
            </el-table-column>
          </el-table>
        </el-tab-pane>
        <el-tab-pane label="Static" name="only">
          <el-button type="primary" size="mini" :disabled="isBtnDisabled"
            @click="addDialogVisiable=true">New
            Property</el-button>
          <el-table :data="onlyTableData" border stripe>
            <el-table-column type="expand">
              <template slot-scope="scope">
                <el-tag v-for="(item, i) in scope.row.attr_vals" :key="i"
                  closable @close="handleClose(i, scope.row)">{{item}}</el-tag>
                <el-input class="input-new-tag" v-if="scope.row.inputVisible"
                  v-model="scope.row.inputValue" ref="saveTagInput" size="small"
                  @keyup.enter.native="handleInputConfirm(scope.row)"
                  @blur="handleInputConfirm(scope.row)">
                </el-input>
                <el-button v-else class="button-new-tag" size="small"
                  @click="showInput(scope.row)">+ New Tag</el-button>
              </template>
            </el-table-column>
            <el-table-column type="index" label="No."></el-table-column>
            <el-table-column label="Property" prop="attr_name">
            </el-table-column>
            <el-table-column label="Operation">
              <template slot-scope="scope">
                <el-button type="primary" icon="el-icon-edit" size="mini"
                  @click="showEditDialog(scope.row.attr_id)">Edit
                </el-button>
                <el-button type="danger" icon="el-icon-delete" size="mini"
                  @click="removeParams(scope.row.attr_id)">Remove
                </el-button>
              </template>
            </el-table-column>
          </el-table>
        </el-tab-pane>
      </el-tabs>
    </el-card>

    <!-- Dialogs -->
    <!-- New property dialog -->
    <el-dialog :title="'New ' + titleText" :visible.sync="addDialogVisiable"
      width="50%" @close="addDialogClosed">
      <el-form :model="addForm" :rules="addFormRules" ref="addFormRef"
        label-width="100px" class="demo-ruleForm">
        <el-form-item label="Property" prop="attr_name">
          <el-input v-model="addForm.attr_name"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="addDialogVisiable = false">Cancel</el-button>
        <el-button type="primary" @click="addParams">Confirm
        </el-button>
      </span>
    </el-dialog>

    <!-- Edit property dialog -->
    <el-dialog :title="'Edit ' + titleText" :visible.sync="editDialogVisiable"
      width="50%" @close="editDialogClosed">
      <el-form :model="editForm" :rules="editFormRules" ref="editFormRef"
        label-width="100px" class="demo-ruleForm">
        <el-form-item label="Property" prop="attr_name">
          <el-input v-model="editForm.attr_name"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editDialogVisiable = false">Cancel</el-button>
        <el-button type="primary" @click="editParams">Confirm
        </el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
export default {
  data () {
    return {
      cateList: [],
      cateProps: {
        value: 'cat_id',
        label: 'cat_name',
        children: 'children'
      },
      selectedCatKeys: [],
      // Active tab name
      activeName: 'many',
      manyTableData: [],
      onlyTableData: [],
      addDialogVisiable: false,
      addForm: {
        attr_name: ''
      },
      addFormRules: {
        attr_name: [
          { required: true, message: 'Please enter property name', trigger: 'blur' }
        ]
      },
      editDialogVisiable: false,
      editForm: {},
      editFormRules: {
        attr_name: [
          { required: true, message: 'Please enter property name', trigger: 'blur' }
        ]
      },
      inputVisible: false,
      inputValue: ''
    }
  },
  created () {
    this.getCateList()
  },
  methods: {
    async getCateList () {
      const { data: res } = await this.$http.get('categories')
      if (res.meta.status !== 200) {
        return this.$message.error('Fail to get category list!')
      }
      this.cateList = res.data
      // console.log(this.cateList)
    },
    async handleChange () {
      // console.log(this.selectedCatKeys)
      this.getParamsData()
    },
    async getParamsData () {
      // console.log(this.selectedCatKeys)
      if (this.selectedCatKeys.length !== 3) {
        this.selectedCatKeys = []
        this.manyTableData = []
        this.onlyTableData = []
        return
      }
      // console.log(this.selectedCatKeys)
      const { data: res } = await this.$http.get(`categories/${this.cateId}/attributes`, { params: { sel: this.activeName } })
      if (res.meta.status !== 200) {
        return this.$message.error('Fail to get category properties!')
      }

      res.data.forEach(item => {
        item.attr_vals = item.attr_vals ? item.attr_vals.split(' ') : []
        item.inputVisible = false
        item.inputValue = ''
      })
      // console.log(res.data)
      if (this.activeName === 'many') {
        this.manyTableData = res.data
      }
      this.onlyTableData = res.data
    },

    handleTabClick () {
      // console.log(this.activeName)
      this.getParamsData()
    },
    addDialogClosed () {
      this.$refs.addFormRef.resetFields()
    },
    addParams () {
      this.$refs.addFormRef.validate(async valid => {
        if (!valid) return
        const { data: res } = await this.$http.post(`categories/${this.cateId}/attributes`, { attr_name: this.addForm.attr_name, attr_sel: this.activeName })
        // console.log(res)
        if (res.meta.status !== 201) {
          return this.$message.error('Fail to add property!')
        }
        this.getParamsData()
        this.addDialogVisiable = false
        this.$message.success('Success to add property!')
      })
    },
    async showEditDialog (attrid) {
      const { data: res } = await this.$http.get(`categories/${this.cateId}/attributes/${attrid}`, { params: { attr_sel: this.activeName } })
      if (res.meta.status !== 200) {
        return this.$message.error('Fail to get property!')
      }
      this.editForm = res.data
      this.editDialogVisiable = true
    },
    editDialogClosed () {
      this.$refs.editFormRef.resetFields()
    },
    editParams () {
      this.$refs.editFormRef.validate(async valid => {
        if (!valid) return
        const params = { attr_name: this.editForm.attr_name, attr_sel: this.activeName }
        const { data: res } = await this.$http.put(`categories/${this.cateId}/attributes/${this.editForm.attr_id}`, params)
        if (res.meta.status !== 200) {
          return this.$message.error('Fail to edit property!')
        }
        this.getParamsData()
        this.editDialogVisiable = false
        this.$message.success('Success to edit property!')
      })
    },
    async removeParams (attrid) {
      const confirmResult = await this.$confirm('Do you want to remove the property?', 'Remove', {
        confirmButtonText: 'Confirm',
        cancelButtonText: 'Cancel',
        type: 'warning'
      }).catch(err => err)

      if (confirmResult !== 'confirm') {
        return this.$message.info('Cancel to remove!')
      }
      const { data: res } = await this.$http.delete(`categories/${this.cateId}/attributes/${attrid}`)
      console.log(res)
      if (res.meta.status !== 200) {
        return this.$message.error('Fail to remove!')
      }
      this.getParamsData()
      this.$message.success('Success to remove!')
    },
    handleInputConfirm (row) {
      // console.log('OK')
      if (row.inputValue.trim().length === 0) {
        row.inputValue = ''
        row.inputVisible = false
      }
      row.attr_vals.push(row.inputValue.trim())
      row.inputValue = ''
      row.inputVisible = false
      this.saveAttrVals(row)
    },
    showInput (row) {
      row.inputVisible = true
      this.$nextTick(_ => {
        this.$refs.saveTagInput.$refs.input.focus();
      });
    },
    handleClose (i, row) {
      row.attr_vals.splice(i, 1)
      this.saveAttrVals(row)
    },
    async saveAttrVals (row) {
      const { data: res } = await this.$http.put(`categories/${this.cateId}/attributes/${row.attr_id}`, { attr_sel: row.attr_sel, attr_name: row.attr_name, attr_vals: row.attr_vals.join(' ') })

      if (res.meta.status !== 200) {
        return this.$message.error('Fail to add attribute!')
      }
      this.$message.success('Success to add attribute!')
    }
  },
  computed: {
    isBtnDisabled () {
      if (this.selectedCatKeys.length !== 3) {
        return true
      }
      return false
    },
    cateId () {
      if (this.selectedCatKeys.length === 3) {
        return this.selectedCatKeys[2]
      }
      return null
    },
    titleText () {
      if (this.activeName === 'many') {
        return 'Dynamic Property'
      }
      return 'Static Property'
    }
  }
}
</script>
<style lang="less" scoped>
.catopt {
  margin: 20px 10px;
}
.el-tag {
  margin: 10px;
}

.input-new-tag {
  width: 150px;
}
</style>
