<template>
  <div>
    <!-- bread crumb -->
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/home' }">Homepage
      </el-breadcrumb-item>
      <el-breadcrumb-item>User Management
      </el-breadcrumb-item>
      <el-breadcrumb-item>User List</el-breadcrumb-item>
    </el-breadcrumb>

    <!-- Card -->
    <el-card>
      <el-row :gutter="20">
        <el-col :span="8">
          <el-input placeholder="Search user here" v-model="queryInfo.query"
            clearable @clear="getUserList">
            <el-button slot="append" icon="el-icon-search" @click="getUserList">
            </el-button>
          </el-input>
        </el-col>
        <el-col :span="4">
          <el-button type="primary" round @click="addDialogVisible = true">New
            User
          </el-button>
        </el-col>
      </el-row>

      <!-- User list -->
      <el-table :data="userList" border stripe>
        <el-table-column label="No." type="index"></el-table-column>
        <el-table-column label="Username" prop="username">
        </el-table-column>
        <el-table-column label="Email" prop="email">
        </el-table-column>
        <el-table-column label="mobile" prop="mobile">
        </el-table-column>
        <el-table-column label="Role" prop="role_name">
        </el-table-column>
        <el-table-column label="Status">
          <template slot-scope="scope">
            <el-switch v-model="scope.row.mg_state" active-color="#13ce66"
              inactive-color="#ff4949" @change="userStateChanged(scope.row)">
            </el-switch>
          </template>
        </el-table-column>
        <el-table-column label="Operation" width="190px">
          <template slot-scope="scope">
            <el-tooltip class="item" effect="dark" content="Edit"
              placement="top" :enterable="false">
              <el-button type="primary" icon="el-icon-edit" size="mini"
                @click="showEditDialog(scope.row.id)">
              </el-button>
            </el-tooltip>
            <el-tooltip class="item" effect="dark" content="Delete"
              placement="top" :enterable="false">
              <el-button type="danger" icon="el-icon-delete" size="mini"
                @click="removeUserById(scope.row.id)">
              </el-button>
            </el-tooltip>
            <el-tooltip class="item" effect="dark" content="Setting"
              placement="top" :enterable="false">
              <el-button type="warning" icon="el-icon-setting" size="mini"
                @click="setRole(scope.row)">
              </el-button>
            </el-tooltip>
          </template>
        </el-table-column>
      </el-table>

      <!-- Add new user -->
      <el-dialog title="New User" :visible.sync="addDialogVisible" width="50%"
        @close="addDialogClosed">
        <el-form status-icon ref="addFormRef" :model="addForm"
          :rules="addFormRules" label-width="100px">
          <el-form-item label="Username" prop="username">
            <el-input v-model="addForm.username"></el-input>
          </el-form-item>
          <el-form-item label="Password" prop="password">
            <el-input type="password" v-model="addForm.password"></el-input>
          </el-form-item>
          <el-form-item label="Email" prop="email">
            <el-input v-model="addForm.email"></el-input>
          </el-form-item>
          <el-form-item label="Mobile" prop="mobile">
            <el-input v-model="addForm.mobile"></el-input>
          </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button @click="addDialogVisible = false">Cancel</el-button>
          <el-button type="primary" @click="addUser">Submit
          </el-button>
        </span>
      </el-dialog>

      <!-- Modify user info -->
      <el-dialog title="Modify user info" :visible.sync="editDialogVisible"
        width="50%" @close="editDialogClosed">
        <el-form status-icon ref="editFormRef" :model="editForm"
          :rules="editFormRules" label-width="100px">
          <el-form-item label="Username">
            <el-input disabled v-model="editForm.username"></el-input>
          </el-form-item>
          <el-form-item label="Email" prop="email">
            <el-input v-model="editForm.email"></el-input>
          </el-form-item>
          <el-form-item label="Mobile" prop="mobile">
            <el-input v-model="editForm.mobile"></el-input>
          </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button @click="editDialogVisible = false">Cancel</el-button>
          <el-button type="primary" @click="editUser(editForm.id)">Submit
          </el-button>
        </span>
      </el-dialog>

      <!-- Set Roles -->
      <el-dialog title="Roles Management" :visible.sync="setRolesDialogVisible"
        width="50%" @close="setRolesDialogClosed">
        <div>
          <p>User: {{userInfo.username}}</p>
          <p>Role: {{userInfo.role_name}}</p>
          <p>New Role:
            <el-select v-model="selectedRoleId" placeholder="Select">
              <el-option v-for="item in rolesList" :key="item.id"
                :label="item.roleName" :value="item.id">
              </el-option>
            </el-select>
          </p>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button @click="setRolesDialogVisible = false">Cancel</el-button>
          <el-button type="primary" @click="saveRoleInfo">
            Confirm
          </el-button>
        </span>
      </el-dialog>

      <el-pagination @size-change="handleSizeChange"
        @current-change="handleCurrentChange" :current-page="queryInfo.pagenum"
        :page-sizes="[1, 2, 5, 10]" :page-size="queryInfo.pagesize"
        layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </el-card>
  </div>
</template>

<script>
export default {
  data () {
    var checkEmail = (rule, value, callback) => {
      const regEmail = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(\.[a-zA-Z0-9_-])+/
      if (regEmail.test(value)) {
        return callback()
      }
      callback(new Error('Please input correct email!'))
    }
    var checkMobile = (rule, value, callback) => {
      const regMobile = /^[1]([3-9])[0-9]{9}$/
      if (regMobile.test(value)) {
        return callback()
      }
      callback(new Error('Please input correct mobile!'))
    }
    return {
      queryInfo: {
        query: '',
        pagenum: 1,
        pagesize: 2
      },
      userList: [],
      total: 0,
      addDialogVisible: false,
      addForm: {
        username: '',
        password: '',
        email: '',
        mobile: ''
      },
      addFormRules: {
        username: [
          { required: true, message: 'Please enter your username', trigger: 'blur' }, { min: 3, max: 10, message: 'Username should between 3~5 letters', trigger: 'blur' }
        ],
        password: [
          { required: true, message: 'Please input the password', trigger: 'blur' }, { min: 6, max: 15, message: 'Password should between 6~15 letters', trigger: 'blur' }
        ],
        email: [
          { required: true, message: 'Please input the email', trigger: 'blur' }, { validator: checkEmail, trigger: 'blur' }
        ],
        mobile: [
          { required: true, message: 'Please input the mobile', trigger: 'blur' }, { validator: checkMobile, trigger: 'blur' }
        ]
      },
      editDialogVisible: false,
      editForm: {
        username: '',
        email: '',
        mobile: ''
      },
      editFormRules: {
        email: [
          { required: true, message: 'Please input the email', trigger: 'blur' }, { validator: checkEmail, trigger: 'blur' }
        ],
        mobile: [
          { required: true, message: 'Please input the mobile', trigger: 'blur' }, { validator: checkMobile, trigger: 'blur' }
        ]
      },
      setRolesDialogVisible: false,
      userInfo: '',
      rolesList: [],
      selectedRoleId: ''
    }
  },
  created () {
    this.getUserList()
  },
  methods: {
    async getUserList () {
      const { data: res } = await this.$http.get('users', { params: this.queryInfo })
      if (res.meta.status !== 200) return this.$message.error('Get user list failed!')
      // console.log(res)
      this.total = res.data.total
      this.userList = res.data.users
    },
    handleSizeChange (newSize) {
      // console.log(newSize)
      this.queryInfo.pagesize = newSize
      this.getUserList()
    },
    handleCurrentChange (newPage) {
      // console.log(newPage)
      this.queryInfo.pagenum = newPage
      this.getUserList()
    },
    async userStateChanged (userinfo) {
      console.log(userinfo)
      const { data: res } = await this.$http.put(`users/${userinfo.id}/state/${userinfo.mg_state}`)
      console.log(res)
      if (res.meta.status !== 200) {
        userinfo.mg_state = !userinfo.mg_state
        return this.$message.error('Fail to alter user status!')
      }
      this.$message.success('Success to alter user status!')
    },
    addDialogClosed () {
      this.$refs.addFormRef.resetFields()
    },
    addUser () {
      this.$refs.addFormRef.validate(async valid => {
        // console.log(valid)
        if (!valid) return this.$message.error('Info error, cannot add this new user!')
        const { data: res } = await this.$http.post('users', this.addForm)
        if (res.meta.status !== 201) {
          this.$message.error('Fail to add new user!')
        }
        this.$message.success('Success to add new user!')
        this.addDialogVisible = false
        this.getUserList()
      })
    },
    async showEditDialog (id) {
      // console.log(id)
      const { data: res } = await this.$http.get('users/' + id)
      if (res.meta.status !== 200) {
        return this.$message.error('Cannot get user info!')
      }
      this.editForm = res.data
      this.editDialogVisible = true
    },
    editDialogClosed () {
      this.$refs.editFormRef.resetFields()
    },
    editUser (id) {
      this.$refs.editFormRef.validate(async valid => {
        if (!valid) return this.$message.error('Fail to modify user info!')
        const { data: res } = await this.$http.put('users/' + id, this.editForm)
        console.log(res)
        if (res.meta.status !== 200) {
          return this.$message.error('Fail to modify user info!')
        }
        this.$message.success('Success to modify user info!')
        this.editDialogVisible = false
        this.getUserList()
      })
    },
    async removeUserById (id) {
      const confirmResult = await this.$confirm('Do you want to remove this user?', 'Confirm', {
        confirmButtonText: 'Comfirm',
        cancelButtonText: 'Cancel',
        type: 'warning'
      }).catch(err => err)
      if (confirmResult !== 'confirm') {
        return this.$message.info('Cancel to remove!')
      }
      const { data: res } = await this.$http.delete('users/' + id)
      if (res.meta.status !== 200) {
        return this.$message.error('Fail to remove the user!')
      }
      this.$message.success('Success to remove the user!')
      this.getUserList()
    },

    async setRole (userInfo) {
      this.userInfo = userInfo
      const { data: res } = await this.$http.get('roles')
      if (res.meta.status !== 200) {
        return this.$message.error('Fail to get role list!')
      }
      this.rolesList = res.data

      this.setRolesDialogVisible = true
    },

    async saveRoleInfo () {
      if (!this.selectedRoleId) {
        return this.$message.error('No seleted role!')
      }
      const { data: res } = await this.$http.put(`users/${this.userInfo.id}/role`, { rid: this.selectedRoleId })
      if (res.meta.status !== 200) {
        return this.$message.error('Fail to update role!')
      }
      this.$message.success('Success to update role!')
      this.getUserList()
      this.setRolesDialogVisible = false
    },
    setRolesDialogClosed () {
      this.selectedRoleId = ''
      this.userInfo = {}
    }
  }
}
</script>

<style lang="stylus" scoped></style>
