<template>
  <div>
    <!-- bread crumb -->
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/home' }">Homepage
      </el-breadcrumb-item>
      <el-breadcrumb-item>Orders Managements
      </el-breadcrumb-item>
      <el-breadcrumb-item>Order List</el-breadcrumb-item>
    </el-breadcrumb>

    <!-- Card -->
    <el-card>
      <el-row>
        <el-col :span="8">
          <el-input placeholder="Search here">
            <el-button slot="append" icon="el-icon-search"></el-button>
          </el-input>
        </el-col>
      </el-row>

      <!-- Order List -->
      <el-table :data="orderList" border stripe>
        <el-table-column label="No." type="index"></el-table-column>
        <el-table-column label="Order ID" prop="order_number"></el-table-column>
        <el-table-column label="Price" prop="order_price"></el-table-column>
        <el-table-column label="Paid" prop="pay_status">
          <template slot-scope="scope">
            <el-tag type="success" v-if="scope.row.pay_status === '1'">Paid
            </el-tag>
            <el-tag type="danger" v-else>Unpaid</el-tag>
          </template>
        </el-table-column>
        <el-table-column label="Delivered" prop="is_send"></el-table-column>
        <el-table-column label="Created Time" prop="create_time">
          <template slot-scope="scope">
            {{scope.row.create_time | dateFormat}}
          </template>
        </el-table-column>
        <el-table-column label="Operations">
          <template slot-scope="scope">
            <el-button size="mini" type="primary" icon="el-icon-edit"
              @click="showBox">
            </el-button>
            <el-button size="mini" type="success" icon="el-icon-location"
              @click="showProgressBox">
            </el-button>
          </template>
        </el-table-column>
      </el-table>

      <!-- Pagination -->
      <el-pagination @size-change="handleSizeChange"
        @current-change="handleCurrentChange" :current-page="queryInfo.pagenum"
        :page-sizes="[5, 10, 15]" :page-size="queryInfo.pagesize"
        layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </el-card>

    <!-- Dialogs -->
    <!-- Change Location -->
    <el-dialog title="Alter Address" :visible.sync="addressDialogVisible"
      width="50%" @close="addressDialogClosed">
      <el-form :model="addressForm" :rules="addressFormRules"
        ref="addressFormRef" label-width="100px">
        <el-form-item label="City" prop="address1">
          <el-cascader :options="cityData" v-model="addressForm.address1">
          </el-cascader>
        </el-form-item>
        <el-form-item label="Street" prop="address2">
          <el-input v-model="addressForm.address2"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="addressDialogVisible = false">Cancel</el-button>
        <el-button type="primary" @click="addressDialogVisible = false">Confirm
        </el-button>
      </span>
    </el-dialog>

    <!-- Delivery Info -->
    <el-dialog title="Delivery Info" :visible.sync="progressDialogVisible"
      width="50%">
      <el-timeline>
        <el-timeline-item v-for="(activity, index) in progressInfo" :key="index"
          :timestamp="activity.time">
          {{activity.context}}
        </el-timeline-item>
      </el-timeline>
    </el-dialog>
  </div>
</template>

<script>
import cityData from './citydata.js'

export default {
  data () {
    return {
      queryInfo: {
        query: '',
        pagenum: 1,
        pagesize: 10
      },
      total: 0,
      orderList: [],
      addressDialogVisible: false,
      addressForm: {
        address1: [],
        address2: ''
      },
      addressFormRules: {
        address1: [
          { required: true, message: 'Please select city name', trigger: 'blur' }
        ],
        address2: [
          { required: true, message: 'Please enter street detail', trigger: 'blur' }
        ]
      },
      cityData,
      progressDialogVisible: false,
      progressInfo: []
    }
  },
  created () {
    this.getOrderList()
  },
  methods: {
    async getOrderList () {
      const { data: res } = await this.$http.get('orders', { params: this.queryInfo })

      if (res.meta.status !== 200) {
        return this.$message.error('Fail to get order list!')
      }
      this.total = res.data.total
      this.orderList = res.data.goods
      console.log(this.orderList)
    },
    handleSizeChange (newSize) {
      this.queryInfo.pagesize = newSize
      this.getOrderList()
    },
    handleCurrentChange (newPage) {
      this.queryInfo.pagenum = newPage
      this.getOrderList()
    },
    showBox () {
      this.addressDialogVisible = true
      // console.log(this.cityData)
    },
    addressDialogClosed () {
      this.$refs.addressFormRef.resetFields()
    },
    async showProgressBox () {
      const { data: res } = await this.$http.get('/kuaidi/1106975712662')
      if (res.meta.status !== 200) {
        return this.$message.error('Fail to get the delivery info')
      }

      this.progressInfo = res.data
      // console.log(this.progressInfo)
      this.progressDialogVisible = true
    }
  }
}
</script>

<style lang="less" scoped>
@import '../../plugins/timeline/timeline.css';
@import '../../plugins/timeline-item/timeline-item.css';

.el-cascader {
  width: 100%;
}
</style>

