<template>
  <div class="login_container">
    <div class="login_box">
      <!-- Avatar -->
      <div class="avatar_box">
        <img alt src="../assets/logo.png" />
      </div>
      <!-- Login Form -->
      <!-- Username -->
      <el-form :model="loginForm" :rules="loginFormRules" class="login_form"
        label-width="0px" ref="loginFormRef">
        <el-form-item prop="username">
          <el-input prefix-icon="iconfont icon-user"
            v-model="loginForm.username"></el-input>
        </el-form-item>
        <!-- Password -->
        <el-form-item prop="password">
          <el-input prefix-icon="iconfont icon-3702mima" type="password"
            v-model="loginForm.password"></el-input>
        </el-form-item>
        <!-- Button -->
        <el-form-item class="btns">
          <el-button @click="login" round type="primary">Login</el-button>
          <el-button @click="resetLoginForm" round type="info">Reset</el-button>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      // Login Form data object
      loginForm: {
        username: 'admin',
        password: '123456'
      },
      loginFormRules: {
        username: [
          {
            required: true,
            message: 'Please input the username',
            trigger: 'blur'
          },
          {
            min: 3,
            max: 10,
            message: 'Username should between 3~5 letters',
            trigger: 'blur'
          }
        ],
        password: [
          {
            required: true,
            message: 'Please input the password',
            trigger: 'blur'
          },
          {
            min: 6,
            max: 15,
            message: 'Password should between 6~15 letters',
            trigger: 'blur'
          }
        ]
      }
    }
  },
  methods: {
    // Reset login form
    resetLoginForm () {
      this.$refs.loginFormRef.resetFields()
      // console.log(this)
    },
    login () {
      this.$refs.loginFormRef.validate(async valid => {
        // console.log(valid)
        if (!valid) return
        const { data: res } = await this.$http.post('login', this.loginForm)
        // console.log(res);
        if (res.meta.status !== 200) return this.$message.error('Login Failed!')
        this.$message.success('Login Successful!')
        window.sessionStorage.setItem('token', res.data.token)
        this.$router.push('/home')
      })
    }
  }
}
</script>

<style lang="less" scoped>
.login_container {
  background-color: #2b4b6b;
  height: 100%;
}
.login_box {
  width: 450px;
  height: 300px;
  background-color: #fff;
  border-radius: 3px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  .avatar_box {
    height: 130px;
    width: 130px;
    border: 1px solid #eee;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 0 10px #ddd;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    img {
      height: 100%;
      width: 100%;
      border-radius: 50%;
      background-color: #eee;
    }
  }
}
.login_form {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}
.btns {
  display: flex;
  justify-content: flex-end;
}
</style>
