<template>
  <div>
    <!-- bread crumb -->
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/home' }">Homepage
      </el-breadcrumb-item>
      <el-breadcrumb-item>Rights Management
      </el-breadcrumb-item>
      <el-breadcrumb-item>Rights List</el-breadcrumb-item>
    </el-breadcrumb>

    <el-card>
      <el-table :data="rightsList" border stripe>
        <el-table-column label="No." type="index"></el-table-column>
        <el-table-column label="Rights" prop="authName"></el-table-column>
        <el-table-column label="Path" prop="path"></el-table-column>
        <el-table-column label="Level" prop="level">
          <template slot-scope="scope">
            <el-tag v-if="scope.row.level === '0'">level 1</el-tag>
            <el-tag v-if="scope.row.level === '1'" type="success">level 2
            </el-tag>
            <el-tag v-if="scope.row.level === '2'" type="warning">level 3
            </el-tag>
          </template>
        </el-table-column>
      </el-table>
    </el-card>
  </div>
</template>

<script>
export default {
  data () {
    return {
      rightsList: []
    }
  },
  created () {
    this.getRightsList()
  },
  methods: {
    async getRightsList () {
      const { data: res } = await this.$http.get('rights/list')
      // console.log(res)
      if (res.meta.status !== 200) {
        return this.$message.error('Fail to get rights list!')
      }
      this.rightsList = res.data
      console.log(this.rightsList)
    }
  }
}
</script>

<style lang="stylus" scoped></style>
